<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index.css">
    <title>tictactoe</title>

</head>
<body>

<p>Hello <%= name %> <%= new Date() %></p>


<div>
    <button id="s0">blank</button>
    <button id="s1">blank</button>
    <button id="s2">blank</button>
    <br>
    <button id="s3">blank</button>
    <button id="s4">blank</button>
    <button id="s5">blank</button>
    <br>
    <button id="s6">blank</button>
    <button id="s7">blank</button>
    <button id="s8">blank</button>
</div>


<p hidden id="winner"> </p>

<script src="/index.js"></script>

</body>
</html>

